dist/
elisp/*.elc
*~
/.cabal-sandbox/
add-source-timestamps
package.cache
cabal.sandbox.config
# Mac OS generates
# .DS_Store

# Where do these files come from?  They're not readable.
# For instance, .#Help.page
# .#*
cabal-dev
