dist/
elisp/*.elc
*~
/.cabal-sandbox/
/.stack-work/
/test/data/**/stack.yaml
add-source-timestamps
package.cache
cabal.sandbox.config
# Mac OS generates
# .DS_Store
*.o
*.dyn_o
*.hi
*.dyn_hi

# Where do these files come from?  They're not readable.
# For instance, .#Help.page
# .#*
cabal-dev
/TAGS
/tags
